
__pycache__/Truck.cpython-312.pyc
__pycache__/Truck.cpython-312.pyc
__pycache__/Truck.cpython-312.pyc
__pycache__/Truck.cpython-312.pyc
.idea/inspectionProfiles/profiles_settings.xml
__pycache__/HashTable.cpython-312.pyc
__pycache__/Package.cpython-312.pyc
__pycache__/Truck.cpython-312.pyc
    